:root {
  --clr-primary: #706a6a;
  --clr-accent: #424ac7;
  /*   --clr-accent: #ff9400; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base leading-relaxed scroll-smooth;
    font-family: "Source Sans Pro", sans-serif;
  }
  h1 {
    @apply text-[2.75rem] leading-relaxed font-bold my-7;
  }
  h2 {
    @apply text-3xl leading-relaxed font-bold my-5;
  }
  h3 {
    @apply text-2xl leading-relaxed font-bold my-3;
  }
  h4 {
    @apply text-xl leading-relaxed font-bold my-1;
  }
  a {
    @apply text-inherit no-underline;
  }
}

@layer utilities {
  .text-primary {
    @apply text-white;
  }
  .bg-primary {
    background: var(--clr-primary);
  }
  .text-secondary {
    color: var(--clr-primary);
  }
  .bg-secondary {
    @apply bg-white;
  }
  .text-accent {
    color: var(--clr-accent);
  }
  .bg-accent {
    background: var(--clr-accent);
  }
  .no-outline:focus {
    outline: none;
    box-shadow: none;
  }
}
